	<!-- main content -->
<div class="newproducts-w3agile">
	<div class="container">
		<h3>New offers</h3>
		<div class="agile_top_brands_grids">
			@await Component.InvokeAsync("Product")
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //main content -->